@require 'lib'

.terminal
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace
  font-size: 12pt
  color: rgb(240, 240, 240)
  background: #383734
  padding: 3px
  border: none

#logout
  float: right