margin-left-right(n)
  margin-left n
  margin-right n

margin-top-bottom(n)
  margin-top n
  margin-bottom n

padding-left-right(n)
  padding-left n
  padding-right n

padding-top-bottom(n)
  padding-top n
  padding-bottom n
